.container_aside{
    background-color: #FBF37C;
    padding: 10px;
    min-height: 50px;
}

.barra_cima > a {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-decoration: none;
}

.barra_cima > a:hover{
    color: #FFFFFF;
}

#input_barra_cima{
    background-color: #000000;
    border-radius: 10px;
    color: #FFFFFF;
    width: 70%;
    height: 100%;
}

#input_barra_cima:hover {
    background-color: #FFFFFF;
    color: #000000;
}

#botao_pesquisa, #botao_ver_perfil{
    background-color: black;
    color: white;
}

#botao_pesquisa:hover, #botao_ver_perfil:hover{
    background-color: white;
    color: black;
}

#foto_perfil{
    width: 100%;
    height: 100%;
    padding: 10px;
}

#seguidores_url, #foto_url{
    text-decoration: none;
    color: black;
}

#seguidores_url:hover{
    color: red;
}

