.container_aside{
    background-color: #FBF37C;
    padding: 10px;
    min-height: 50px;
}

.barra_cima > a {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-decoration: none;
}

.barra_cima > a:hover{
    color: #FFFFFF;
}

#input_barra_cima{
    background-color: #000000;
    border-radius: 10px;
    color: #FFFFFF;
    width: 70%;
    height: 100%;
}

#input_barra_cima:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.perfil{
    background-color: #FFFFFF;
    min-height: 300px;
    margin: 10px;
}

#foto_perfil{
    width: 100%;
    height: 100%;
}

#fotos{
    width: 40px;
    height: 40px;
    padding: 5px;
}

#fotos:hover{
    background-color: #eeeeee;
}

